<h2><%= @group.name %></h2>
<p><%= @group.description %></p> 
<h3> Nome dos participantes do Grupo </h3>
<ul>
  <%@users.each_key do |user|%>
    <li><%= user.name %></li>
  <% end %>
</ul>
<%if @users[current_user] == 2%>
  <%= button_to 'Deletar', delete_group_path(@group) %>
  <%= link_to 'Editar', edit_group_path(@group) %>
<% end %>

<% form_for :invitation, :url => invite_group_path do |form| %>
  <% @invitation.errors.each do |error, message| %>
    <p><%= "#{message}" %></p>
  <% end %>
  <div>
    <%= label_tag :email, 'Email: *' %><br />
    <%= email_field_tag :email %>
  </div> 
  <%= form.submit "Enviar" %>
<% end %>