<% @groups.each do |group| %>
  <%users = {}%>
  <%group.participates.each do |p|%>
    <%users[p.user] = p.status%>
  <% end %>
  <%if users.include? current_user%>
    <h2>
        <%= link_to group.name, show_group_path(group) %>
    </h2>
    <p><%= group.description %></p>
    <%if users[current_user] == 2%>
      <%= button_to 'Deletar', delete_group_path(group) %>
      <%= link_to 'Editar', edit_group_path(group) %>
    <% end %>
  <% end %>
<% end %>
    
  <%= link_to 'Criar grupo', new_group_path if user_signed_in?%>